name: 'Add Documentation Labels on Issue Close (and completed)'

on:
  issues:
    types: [closed]

jobs:
  add-documentation-label:
    if: github.event.issue.state_reason == 'completed'
    runs-on: ubuntu-latest
    steps:
      - name: Add NEEDS document label
        uses: dequelabs/axe-api-team-public/.github/actions/label-issue-based-on-existing-labels-v1@main
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          issue-number: ${{ github.event.issue.number }}
          trigger-labels: 'Docs: required'
          add-labels: 'NEEDS: document'